Django
python-dotenv
psycopg2
pillow
ipython
djangorestframework
djangorestframework-simplejwt
coverage
drf-yasg
requests
django-cors-headers
redis
celery
django-celery-beat

todo django_filter может быть для фильтров ???
todo pip install flake8 ???
