Django
python-dotenv
psycopg2
pillow
ipython
djangorestframework
djangorestframework-simplejwt
coverage
drf-yasg
django_filter
requests
django-cors-headers
redis
celery
django-celery-beat

todo pip install flake8 ???
